* {
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 455px) {
    #navbutton1 {
        display: none;
    }
}

.hero{
    min-width: 325px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(../img/jayhero3.jpg);
    background-size: cover;
    background-position: right top;
}

body {
    overflow-x: hidden;
    background-color: rgb(27, 27, 27);
    color: white;
}

nav{
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8% 15px 8%;
    border-bottom: 2px solid rgb(23, 23, 23);
}

#logo {
    color: whitesmoke; 
    font-size: 2em;
    letter-spacing: 3px;
    cursor: pointer;
}
span{
    color: #ea003e;
}
nav ul li{
    list-style-type: none;
    padding: 10px 25px;
    display: inline-block;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
nav ul li a:hover{
    color: #ea003e;
    transition: 0.4s;
}
.btn{
    background-color: #ea003e;
    color: white;
    text-decoration: none;
    border: 0.1px solid transparent;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 30px;
    letter-spacing: 1.5px;
    transition: .4s;
    font-size: 1.2rem;
}
#herocta:hover, .btn:hover{
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
}

#herosection{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}
h1{
    color: white;
    margin: 0px 0px 10px;
    font-size: 75px;
}
#heroh3{
    border-left: 2px solid #ea003e;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 40px;
    padding-left: 20px;
}

.h3section {text-align: center;}

.aboutme, .portfolio-flex {display: flex;}

.aboutmeleft img {
    margin: 20px 20px 20px 20px;
    border-radius: 30px;
    border: 2px solid black;
    max-width: 400px;
}

.aboutmeright {margin: 20px 20px 0 20px;}

.portfolio-flex {
    margin: 20px;
    justify-content: center;
    max-width: max-content;
    flex-wrap: wrap;
    gap: 30px;

}

.portfolio img {max-width: 300px;}





/* For form in contact section
.contactform form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #ea003e;
    outline: none;
    border-radius: 30px;
}

.contactform form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #ea003e;
    color:white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
} */